.header {
    font-size: 400%;
    font-family: -apple-system;
    text-align: center;
    }
.rectangle{

        width: 80%;
        height: 900px;
        border-radius: 20px;      
        margin:auto;
        background: #eeeeee;}
        .text{
        font-size: 150%;
        font-weight: bold;
        color: #000000;
        text-align: center;
        }
.infields1 {
            height: 30px;
            width: 150px;
            border: #eeeeee;
            border-radius: 4px;
          }       
.infields2 {
            height: 30px;
            width: 190px;
            border: #eeeeee;
            border-radius: 4px;
          }
.form-rows {
            position: static;
            display: block;
          }
.radio {
            display: block;
            font-size: 70%;
            
        }
.fields {
            display: block;
            text-align: left;
            width: 400px;
            height: 100px;
            border-radius: 5px;
          }
.button {
            font-size: 800%;
            background-color: #6ba2ce;
            color: white;
            border: 0px solid;
            border-radius: 4px;
            height: 40px;
            width: 100px;
          }

          